  <div class="d-flex flex-column">
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">标题:</div>
      <div class="col-sm-8 col-form-label"><%= @affair.name %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">显示:</div>
      <div class="col-sm-8 col-form-label"><%= @affair.reveal? ? "显示" : "隐藏" %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">排序:</div>
      <div class="col-sm-8 col-form-label"><%= @affair.order %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label"></div>
      <div class="col-sm-8 text-left"><%= link_to "编辑", edit_affair_path(@affair), class: "btn btn-primary btn-sm" %></div>
    </div>  
  </div>
