<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">取消</button>
<%= link_to "确定", tap_photograph_path(@tap_photograph), class: "btn btn-sm btn-danger", remote: true, method: :delete %>
