<%= form_for(@banner) do |f| %>
  <% unless @banner.errors.blank? %>
    <div class="alert alert-danger">
      <ul class="list-unstyled">
        <% @banner.errors.messages.values.flatten.each do |error| %>
          <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
  <div class="d-flex flex-column">
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">名称:</div>
      <div class="col-sm-8"><%= f.text_field :name, class: "form-control" %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right"></div>
      <div class="col-sm-8 text-left"><%= f.submit (@banner.new_record? ? "新建" : "更新"), class: "btn btn-primary btn-sm" %></div>
    </div>  
  </div>
<% end -%>
