 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">小程序后台</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <% if user_signed_in? %>
        <%= link_to "退出", destroy_user_session_path, method: "delete", class: "nav-link" %>
      <% end -%>
    </li>
    </ul>
</nav>
