<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">取消</button>
<%= link_to "确定", product_product_image_path(@product, @product_image), class: "btn btn-sm btn-danger", remote: true, method: :delete %>
