<div id="photographs">
  <% @photographs.each_with_index do |photograph, index| %>
    <div class="d-flex justify-content-between">
      <div>
        <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
        <%= photograph.name %>
      </div>
      <div>
        <%= link_to '编辑', edit_photograph_path(photograph), class: "badge badge-primary"%>
        <%= link_to '删除', delete_photograph_path(photograph), remote: true, class: "badge badge-primary" %>
      </div>
    </div>
  <% end %>
</div>
