<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">取消</button>
<%= link_to "确定", recharge_card_path(@recharge_card), class: "btn btn-sm btn-danger", remote: true, method: :delete %>
