/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "dropzone/dropzone";

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

// Customize upload photos form
.core-sprite {
  background-image: image-url("core-sprite-2x.png");
  background-size: 405px 379px;
  background-repeat: no-repeat;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.upload-photos-icon:hover {
  cursor: pointer;
}

.dz-preview.dz-image-preview {
  margin: 2px;
}

.dz-image {
  border-radius: 0px !important;

  img {
    width: 100%;
  }
}

.dz-remove {
  @extend .core-sprite;
  @extend .hide-text;
  position: absolute;
  top: 9px;
  right: 5px;
  z-index: 20;
  width: 18px;
  height: 18px;
  background-position: -386px -25px;
  opacity: 0;
  -webkit-transition: opacity 0.2s liner;
  transition: opacity 0.2s liner;
}

.dropzone .dz-preview:hover .dz-remove {
  opacity: 1;
}

.upload-photos-icon {
  height: 120px;
  width: 120px;
  border: 2px dashed #dddfe2;
  border-radius: 2px;
  padding: 48px;
  display: inline-block;
  margin: 2px;
}

.no-text-decoration:hover {
  text-decoration: none;
  color: #262626;
}

.normal-color {
  color: #262626;
}
