<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">取消</button>
<%= link_to "确定", merchant_image_path(@merchant_image), class: "btn btn-sm btn-danger", remote: true, method: :delete %>
